$border-danger = #f53d07;
$text-danger = lighten($border-danger, 15%);
$dark = #000;
$header-color = #4e546c;
$main-bg = #f6f6f6;
$success = #00ae00;
$root-font-size = 14px;
// 头部的样式
$main-text = lighten($header-color, 20%);
$h4 = lighten($header-color, 10%);
// 宽度
$gcontainer = 1353px; // 主宽度
$gwrap = 1353px; // 主内容宽度
// top-info
$ti1 = 450px;
$ti2 = 580px;
$ti3 = (1353 - 450 - 580)px;
// 主内容区
// 导航
$hover-nav = #2dd1ac;
