
@import 'base-config.styl';
@import 'lib.styl';
@import 'reset.styl';

html, body {
  width: 100%;
  min-width: 100vh;
  font-size: $root-font-size;
}

em {
  font-style: normal;
  color: $text-danger;
  background: lighten($text-danger, 70%);
  padding: 0 2px;
}

.table {
  margin-bottom: 0;
}
